// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my_primary: #ff4e60;
$my_secondary: #99b898;
$my_info: #ff4e60;
$text_primary: #283c63;
$text_secondary: #99b898;


