// Specific CSS for your home-page

#protein, #carbs, #fats, #calories {
  width: 50px;
  text-align: center;
  border: 1px $my-secondary solid;
  border-radius: 2px;
}

#protein {
  background-color: rgb(175, 0, 0);
  color: white;
}

#carbs {
  background-color: rgb(0, 175, 0);
  color: white;
}

#fats {
  background-color: rgb(175, 175, 0);
  color: white;
}

#macro-table th {
  width: 80px;
}

#results-map {
  overflow: hidden;
}