// Specific CSS for your home-page

#protein, #carbs, #fats, #calories {
  width: 50px;
  text-align: center;
  border: 1px $my-secondary solid;
  border-radius: 2px;
}

#protein {
  background-color: rgb(175, 0, 0);
  color: white;
}

#carbs {
  background-color: rgb(0, 175, 0);
  color: white;
}

#fats {
  background-color: rgb(175, 175, 0);
  color: white;
}

#macro-table th {
  width: 80px;
}

#results-map {
  overflow: hidden;
}

// class

.protein {
  background-color: rgb(175, 0, 0);
  color: white;
}

.carbs {
  background-color: rgb(0, 175, 0);
  color: white;
}

.fats {
  background-color: rgb(175, 175, 0);
  color: white;
}

.dish-macros {
  border: 2px solid grey;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;

  &.protein {
    position: static;
  }

  &.carbs {
    position: static;
  }

  &.fats {
    position: static;
  }
}

.pen {
  position: relative;
  top: 30px;
  width: 50px;
}