// dishes index

.dis-two {
    background-color: rgba(95,95,95,0.75);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 25px;
    position: relative;
    top: -2px;
}

.logo {
    position: absolute;
    bottom: 182px;
    left: 10px;
    z-index: 1;
}


// eatery show

.heading {
    display: flex;
    align-items: center;

    img.img  {
        height: 75px;
        width: 75px;
        border-radius: 45px;
        background-size: cover;
        border: 2px solid grey;
    }

    img {
        height: 30px;
    }

    .location {
        display: flex;
    }
}

.back-btn {
    position: absolute;
}


.eatery-card {
    height:180px;
    border: 2px solid grey;
    border-radius: 25px;
    // background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
}

.card-btn {
    background-color: rgba(156, 156, 156, 0);
    border-radius: 25px;
    height: 170px;
    z-index: 1;
    position: relative;
    top: 5%;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(95,95,95,0.6);
    position: absolute;
    bottom: 15%;
    height: 50px;
}

.description {
    width: 80%;
}

.description p {
    font-size: 10px;
}

.description h5 {
    font-weight: bold;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.dis-flex {
    display: flex;

    h4 {
        z-index: 1;
    }
}

.dis {
    background-color: rgba(95,95,95,0.75);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 50px;
    position: relative;
    top: -145px;
}

.nodis {
    background-color: rgba(95,95,95,0);
    border-bottom: none;
}

.tick {
    position: absolute;
    top: 3px;
    left: 90%;
    font-size: 20px;
    font-weight: bold;
}

.notick {
    display: none;
}

.quantity {
    display: none;
}

.show {
    display: block;
}

.shift {
    position: relative;
    top: 0%;
}

.protein {
    background-color: rgb(175, 0, 0);
    left: 60%;
}

.carb {
    background-color: rgb(0, 175, 0);
    position: absolute;
    left: 73%;
}

.fat {
    background-color: rgb(175, 175, 0);
    position: absolute;
    left: 86%;
}

.circle {
    border: 2px solid grey;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 87%;
}

.total {
    position: fixed;
    bottom: 0px;
    background-color: rgb(233, 190, 190);
    padding: 15px;
    width: 100%;
    z-index: 2;

    h3 {
        font-weight: bold;
    }

}

.blank {
    margin-bottom: 200px;
}

.checkbox {
    position: relative;
    top: -150px;
    left: 90%;
}

.macro {
    top: 5%;
    color: white;
}

.radio-label {
    position: relative;
    top: -10px;
}

.radio-div-ht {
    height: 25px;
}


// for order show & payment page


.text-size-ten {
    font-size: 10px; // for table
}

.text-size-twelve {
    font-size: 12px; // for table
}

.text-size-sixteen {
    font-size: 16px; // for table
}

.text-size-fourteen {
    font-size: 14px; // for table
}

.td-width {
    width: 30%; // for table photo td
}

.vertical-align-top td {
    vertical-align: top; // for table
}

.dish-photo {
    object-fit: cover;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 25px;
}

.payment-quantity {
    padding: 0 65px;
}

.payment-unit-price {
    padding: 0 25px;
}

.payment-total {
    padding: 0 15px;
}

.order-position-quantity {
    position: relative;
    left: -20px;
}

.order-position-unit {
    position: relative;
    left: -30px;
}

.order-position-total {
    position: relative;
    left: -30px;
}

.pending {
    border-left: 2px solid rgb(255,78,96);
    border-right: 2px solid rgb(255,78,96);
    border-radius: 25px;
    font-size: 20px;
    color: rgb(255,78,96);
}

#warning {
  color: $red;
  display: none;
}

// for history page

.history-table {
    margin-left: -25px;

    td {
        padding: 4px;
        padding-top: 8px;
        // border: 1px solid black;
    }
}

.h-p {
    background-color: rgb(175, 0, 0);
    color: white;
}

.h-c {
    background-color: rgb(0, 175, 0);
    color: white;
}

.h-f {
    background-color: rgb(175, 175, 0);
    color: white;
}

.h-circle {
    border: 2px solid grey;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -4px;
}

.h-logo {
    border: 2px solid grey;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

.h-title {
    padding-left: 50px;
    margin-top: -10px;
}

.h-pen {
    margin-top: -15px;
}

.radius {
    border-radius: 15px;
}

.b {
    width: 5px;
    background-color: red;
}

.g {
    width: 5px;
    background-color: green;
}

.empty {
    width: 5px;
}
