<div class="footer">
  <div class="footer-copyright">
    <p>
      Originally made at <%= link_to 'Le Wagon', 'https://www.lewagon.com/' %> Batch #454 (<%= link_to 'Singapore', 'https://www.lewagon.com/singapore' %>).
      Forked by Grace Teng (<%= link_to 'github link', 'https://github.com/pelicularities/macrotery-redux' %>)
    </p>
  </div>
</div>
