<form id="custom-macros">
  <label for="protein">Protein: </label>
  <input type="text" id="protein" name="protein" size="3">
  <label for="carbs">Carbs: </label>
  <input type="text" id="carbs" name="carbs" size="3">
  <label for="fats">Fats: </label>
  <input type="text" id="fats" name="fats" size="3">
  <input type="submit" id="submit">
</form>