<% if current_user.nil? %>
  <div class="alert alert-primary" role="alert" style="position: static;">
    <strong>Curious about Macrotery Redux?</strong> Use these credentials to log in as a demo user:
    <p>
      Email: <strong>demo@demo.com</strong><br>
      Password: <strong>demo12345</strong>
    </p>
  </div>
<% end %>

<h3>Known Issues</h3>
<ul>
  <li><strong>Find Meals page only displays top 20 matching meals from seeded eateries within 5km of user location.</strong> This is not so much a bug as an a conscious decision not to overengineer a minimum viable product. All the fake eateries (100 total) are in Singapore, so visitors who are not physically in Singapore, or who are in a location without available eateries within 5km, will not be able to find any meals. Sorry!</li>
  <li><strong>Stripe webhook not firing?</strong> Upon making a test payment, you'll be redirected back to the Order page, but the order status does not update from "pending" to "paid".</li>
</ul>

<h1>About Macrotery</h1>

<p>Macrotery is a project that originated as a final project at <a href="https://www.lewagon.com/">Le Wagon</a> batch #454 (<a href="https://www.lewagon.com/singapore">Singapore</a>), by Allen Chung (<a href="https://github.com/allenchungtw">allenchungtw</a>), Stephen Das (<a href="https://github.com/steevesd">steevesd</a>), Grace Teng (<a href="https://github.com/pelicularities">pelicularities</a> &#8212; that's me!) and Zack Xu (<a href="https://github.com/konfs">konfs</a>). The idea is simple: what if you could search for food at eateries near you based on their protein, carbohydrate and fat content?</p>

<p>Many people track the macros of the food they eat in order to meet their health and fitness goals. Those who are looking to lose weight might aim to keep their overall caloric intake low. Bodybuilders generally want high protein, low fat meals. Endurance athletes fuel their training with lots of carbohydrates. Unfortunately, this makes it difficult for individuals tracking their macros to eat out, since it can be hard to find food that fits their macro targets in eateries.</p>

<p><a href="http://macrotery.herokuapp.com/">Macrotery</a> is a minimum viable product / proof of concept aimed at solving this problem. Users enter their macro targets, and can then search for meals at nearby eateries that match their macro targets.</p>

<h1>Macrotery Redux</h1>
<p>After our Le Wagon bootcamp ended, I decided I wanted to continue working on Macrotery for a little bit more, so I <a href="https://github.com/pelicularities/macrotery-redux">forked the Github project</a> and continued working on it as Macrotery Redux. I had two main goals with the Redux version:</p>
<ul>
  <li><strong>Completing the "unhappy path"</strong>: all the work on Macrotery was directed at completing the <a href="https://en.wikipedia.org/wiki/Happy_path">happy path</a> for our bootcamp demo. There were multiple niggling bugs and UI issues that would have resulted in a sub-par user experience for a real user, which I wanted to reduce.</li>
  <li><strong>Fixing layout issues</strong>: Macrotery is a <a href="https://en.wikipedia.org/wiki/Progressive_web_application">Progressive Web App (PWA)</a>, meaning it can be used on desktops, laptops, tablets and mobile phones. However, our bootcamp demo was optimised for mobile only, and was barely usable on any device larger than a mobile phone. Macrotery Redux is not truly responsive in that it does not make use of most of the screen space available on larger devices, but I wanted to make it look more presentable on non-mobile screens. </li>
</ul>

<h1>Status</h1>
<p>No further work is being done on Macrotery Redux, as I've moved on to other projects. You can check out what I'm up to <a href="http://graceteng.me/">here</a>.</p>
