

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<!-- below is after log in -->


<!-- <span class="text-secondary _text-carousel">
  <span class="animated fadeInDown"> Protein </span>
  <span class="animated fadeOutDown"> Carbs </span>
</span>
 -->
