<div class="row">
  <div class="col-12">
    <h1>Welcome to <strong>Macrotery</strong>!</h1>
    <p> Eating healthier and happier is just one click away! </p>
    <div>
      <%= link_to 'Explore', dishes_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="w-100"> As Easy As This </h2>
  <div class="col">
  <%= image_tag "https://via.placeholder.com/300x200" %>
  <h4>Tailored Plan </h4>
  <p> Set up your macros to suit your daily meals.</p>
  </div>

  <div class="col">
  <%= image_tag "https://via.placeholder.com/300x200"%>
  <h4>Simple Search </h4>
  <p>Find delicious dining that fits your macros.</p>
  </div>

  <div class="col">
  <%= image_tag "https://via.placeholder.com/300x200" %>
  <h4>Order in Advance </h4>
  <p>No more waiting around in eateries!</p>
  </div>
</div>